@import './variables';

body{
    background-color: $background_color;
    margin: 0;
    font-family: $font_style;
}

header h1{
    font-family: $bigtitlefont;
    color: $pink;
    .header a{
        color: $text-main;
        font-family: $font_style;
    }
}

#burger-menu{
    display: none;
}

h2, main h1{
    font-family: $bigtitlefont;
    color: $text-main;
} 


a{
    text-decoration: none;
    color: $text-main;
    font-family: $font_style;
    a:hover{
        font-size: 18px;
        transition: all 0.3 ease-in-out;
    }
}


main div, main .Formations .formarticle, footer{
    border: 1px;
    border-radius: 14px;
    padding: 15px;
    margin: 20px auto;
    max-width: 1200px;
    font-family: $font_style;
    main .presentation:hover, main .langages-informatiques:hover, footer:hover{
        background-color: $navy-light;
        transition: all 0.3s ease-in-out;
    }
}


.Formations .formarticle:hover{
    width: 360px;
    height: 330px;
    transition: all 0.3s ease-in-out;
}

main p, main ul{
    color: $title-color;
    font-size: 16px;
    font-family: $font_style;
} 

ul{
    list-style: none;
    padding-left: 0;
}

footer{
    color: $title-color;
    align-items: center;
    text-align: center;
    font-family: $font_style;
    #burger-menu{
        display: none;
    }
}


@media(max-width: 1024px){
    .header {
        display: none;
        flex-direction: column;
    }

    #burger-menu{
        display: block;
    }

    #navdiv{
        align-items: center;
    }

    .header.show {
        display: flex;
        margin-top: 10px;
        background-color: $text-main;
        border-radius: 13px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Formations{
        display: inline;
    }
}

@media(max-width: 768px){
    header{
        display: inline;
        text-align: center;
    }
    
    header h1{
        font-size: 16px;
    }

    #navdiv{
        justify-items: center;
    }

    main h2{
        font-size: 14px;
    }

    main p{
        font-size: 12px;
    }

    .langages-informatiques .icons{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 25px;
    }

    .Formations .formarticle h2, .Formations .formarticle span{
        font-size: 12px;
    }

    .Formations .formarticle{
        width: 200px;
    }

    .Formations .formarticle ul li{
        font-size: 12px;
    }

    .desc{
        font-size: 10px;
    }
}