@import './global.scss';

.project-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: $text-main;
    gap: 20px;
    padding: 20px;
    &>*{
        border: 1px solid $navy-light;
        border-radius: 20px;
        padding: 15px;
        background-color: $navy-light;
    }
    &>*:hover{
        padding: 25px;
        transition: all 0.3s ease-in-out;
    }
}

input{
    border: 1px solid $navy-light;
    background-color: $navy-light;
    border-radius: 23px;
    padding: 10px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

a{
    cursor: pointer;
}